<header class="header">
    <!-- <h1>Image Search</h1> -->
    <form class="search-form " id="search-form">
        <input
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search images..."
            id="idWord"
        >
        <button type="submit" id="Search-btn" class="search-btn">
            <svg 
                width="10px" 
                height="10px" 
                viewBox="0 0 24 24" 
                class="search__svg"
                id="Layer_1" 
                data-name="Layer 1" 
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>.search__svg{
                            fill:none;
                            stroke:#494949;
                            stroke-miterlimit:10;
                            stroke-width:3.5px;
                        }
                        .search:hover .search__svg{
                            stroke:#000000;
                        }
                        .search__svg{
                            pointer-events: none;
                        }
                    </style>
                </defs>
                <circle class="search__svg" cx="9.14" cy="9.14" r="7.64"/>
                <line class="search__svg" x1="22.5" y1="22.5" x2="14.39" y2="14.39"/>
            </svg>
        </button>
    </form>
</header>
